@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Montserrat:wght@200;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: black;
    background-image: url(../images/bg111.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.heading {
    text-align: center;
}

.logo {
    height: 10rem;
    padding: 5px;
    text-align: center;
}

h2 {
    font-size: 3rem;
    padding-bottom: 1rem;
    margin: 5px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start-game {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2rem 2rem;
    border-radius: 20%;
    text-transform: uppercase;
    box-shadow: 5px 5px 10px 0px black;
}

#start-game:hover {
    border: 0.05px solid black;
    color: black;
}

#modal-button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2rem 2rem;
    border-radius: 20%;
    text-transform: uppercase;
    box-shadow: 5px 5px 10px 0px black;
}

#modal-button:hover {
    border: 0.05px solid black;
    color: black;
}

.modal {
    display: none;
    position: fixed;
    padding: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(99, 160, 209, 0.3);
    overflow-y: auto;
}

.modal-content {
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid #000000;
    height: auto;
    padding: 30px;
    margin: auto;
    width: 60%;
    font-size: 1.5rem;
}

.hide {
    display: none;
}

.user h2 {
    text-align: center;
    font-size: 1.5rem;
}

.user-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
}

#username {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    width: 30%;
    height: 25px;
    padding: 10px;
    background: white;
    color: black;
    border: 5px solid black;

}

#submit {
    font-family: "Montserrat", sans-serif;
    padding: 18px;
    font-size: 1.5rem;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 20%;
    text-transform: uppercase;
    box-shadow: 5px 5px 10px 0px black;

}

#submit:hover {
    border: 0.05px solid black;
    color: black;
}

#errors {
    color: white;
    background-color: rgba(192, 16, 16, 0.6);
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 1rem;
    width: fit-content;
    display: none;
    border-radius: 20%;
}

.game-play h2 {
    text-align: center;
    font-size: 2rem;
}

.game-play {
    text-align: center;
    padding: 1rem;
}

#username-output {
    font-size: 2rem;
    padding: 5px;
    color: white;
}

#start {
    font-family: "Montserrat", sans-serif;
    font-size: 5rem;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 3rem;
    margin-top: 1em;
    border-radius: 5px;
    border-radius: 20%;
    text-transform: uppercase;
    box-shadow: 5px 5px 10px 0px black;
}

#start:hover {
    border: 0.05px solid black;
    color: black;
}

#next {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 20%;
    text-transform: uppercase;
    box-shadow: 5px 5px 10px 0px black;

}

#next:hover {
    border: 0.05px solid black;
    color: black;
}

#timer {
    margin: 15px;
    padding: 10px;
}

#facts {
    font-size: 2rem;
    padding: 1rem;
}

#answer-buttons {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px 0px black;
}

.options {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}